@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/utils";

.message {
  &--alert {
    color: $color-danger;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  position: relative;
  max-height: 450px;

  * {
    word-break: break-word;
  }

  .body-html {
    @include paragraph-styles;
    word-break: break-all;

    .file-item {

      .material-icons {
        display: block;
      }
    }
  }

  .ng-scrollbar-layout {
    padding-right: 5px;
  }

  .highlighted {
    font-size: 18px;
  }
}

.mat-dialog-actions {
  margin-bottom: -10px;

  .button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
