.button-top {
    position: absolute;
    z-index: 150;
    bottom: 0;
    width: 152px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all .2s ease-in-out;

    @media all and (max-width: 768px) {
      right: 0;
    }

    @media all and (min-width: 768px) {
      left: calc(50% - 100px);
    }

    &.show-scrollTop {
        opacity: 1;
        transition: all .2s ease-in-out;
    }

    span {
      display: inline-block;
      max-width: 70px;
      margin-right: 8px;
      color: #9B9B9B;
      font-size: 17px;
      line-height: 18px;
      text-align: right;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: 70px;
      height: 80px;
    }
}