1<section class="p-recovery-password">
    <project-loader [show]="isLoading$ | async" [overlay]="true"></project-loader>

    <div class="p-recovery-password__container grid-2_xs-1-middle">
        <div class="p-recovery-password__form col">
            <div class="container">
                <form [formGroup]="recoveryPasswordFormGroup" class="o-forms grid" (ngSubmit)="onRecoveryPassword()" autocomplete="off">
                    <h1 class="title col-12">Recupera tu <span>Contraseña</span></h1>

                    <div class="o-forms__row col-12" *ngIf="!user">
                        <mat-form-field>
                            <mat-label>Correo electrónico:</mat-label>
                            <input matInput formControlName="email" autocomplete="off">
                            <mat-error *ngIf="getField('email').errors?.required">
                                Debe especificar su correo electrónico
                            </mat-error>
                            <mat-error *ngIf="!getField('email').errors?.required && getField('email').errors?.pattern">
                                Ingrese un correo electrónico valido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="o-forms__row col-12" *ngIf="user">
                        <mat-form-field>
                            <mat-label>Contraseña:</mat-label>
                            <input matInput formControlName="password" autocomplete="off">
                            <mat-error *ngIf="getField('password').invalid">
                                Debes poner tu nueva contraseña
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="o-forms__row col-12" *ngIf="user">
                        <mat-form-field>
                            <mat-label>Confirma tu contraseña:</mat-label>
                            <input matInput formControlName="confirmPassword" autocomplete="off">
                            <mat-error *ngIf="getField('confirmPassword').invalid">
                                Las contraseñas no coinciden
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="o-forms__actions col-12 mt-10">
                        <button class="a-button a-button--accent" type="submit" [disabled]="!recoveryPasswordFormGroup.valid">
                            Recuperar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-recovery-password__slider col hidden-xs" style="background-image: url('../../../../../assets/images/wallpaper.jpg');">
        </div>
    </div>
</section>
