@import "../../../../../assets/styles/base/variables";

.project-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:not(.is-show) {
    pointer-events: none;
    opacity: 0;
    z-index: -100;
  }

  &.is-show {
    opacity: 1;
    z-index: 100;
  }

  &.with-overlay {
    background-color: rgba(255,255,255, 0.6);
  }
}


