<footer class="o-footer">
  <div class="container">
    <ul class="o-footer__menu relative">
      <figure class="o-footer__brand">
        <img src="../../../../../assets/images/logotype.svg" alt="">
      </figure>
      
      <li>
        <a href="https://www.areandina.edu.co">Areandina</a>
      </li>

      <li>
        <a href="https://www.areandina.edu.co/es/content/entidades-financieras">Financieros aliados</a>
      </li>

      <li>
        <a href="https://www.areandina.edu.co/es/content/credito-institucional-areandina">Ayuda</a>
      </li>
    </ul>
  </div>
</footer>
