<div id="wrapper" class="project" style="overflow: hidden;">
    <project-header></project-header>

    <main role="main" class="project__container" [ngClass]="{'in-login': route.includes('login') || route.includes('recuperar-contrasena'), 'grid-middle-center': isMobile}">
        <section [ngClass]="{'h-full': route.includes('login') || route.includes('recuperar-contrasena')  || route == ''}">
            <router-outlet></router-outlet>
        </section>
    </main>

    <project-footer></project-footer>
</div>
